modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BASE_PATH = "/"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/kid-store run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 pnpm --filter @workspace/api-server run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "PORT=3000 node --enable-source-maps artifacts/api-server/dist/index.mjs & PORT=5000 BASE_PATH=/ pnpm --filter @workspace/kid-store run serve"]
build = ["bash", "-c", "pnpm install && PORT=5000 BASE_PATH=/ pnpm --filter @workspace/kid-store run build && PORT=3000 pnpm --filter @workspace/api-server run build"]
